{{!< default}}
<!-- BEGIN CONTAINER -->
<div class="wrapper" style="background-color: #fff;">
    <!-- BEGIN HEADER -->
   {{> header}}
    <!-- END HEADER -->
    <div class="container-fluid">
        <div class="page-content">
            <!-- BEGIN BREADCRUMBS -->
            <div class="breadcrumbs">
                <h1>Dashboard</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Courses</a>
                    </li>
                </ol>
            </div>
            <!-- END BREADCRUMBS -->
            <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
            <div class="page-content-container">
                <div class="page-content-row">
                    <!-- BEGIN PAGE SIDEBAR -->
                    {{!-- {{> sidebar}} --}} {{!-- we dont need the side bar on homepage. --}}
                    <!-- END PAGE SIDEBAR -->
                    <div class="page-content-col">
                        <!-- BEGIN PAGE BASE CONTENT -->
                        <div class="blog-page blog-content-1">
                            <div class="row">
                            {{# each data.courses }}
                                <div class="col-md-3">
                                    <div class="blog-post-sm bordered blog-container">
                                        <div class="blog-img-thumb">
                                            <a href="{{{req.headers.host}}}/blog/{{{key}}}">
                                                <img src="{{{image_url}}}" />
                                            </a>
                                        </div>
                                        <div class="blog-post-content">
                                            <h2 class="blog-title blog-post-title">
                                                <a href="javascript:;">{{name}}</a>
                                            </h2>
                                            {{!-- <p class="blog-post-desc"></p>  if you need the description then uncomment it. --}}
                                            <div class="blog-post-foot">
                                                <ul class="blog-post-tags">
                                                {{# each tags }}
                                                    <li class="uppercase">
                                                        <a href="javascript:;">{{this}}</a>
                                                    </li>
                                                 {{/each}}   
                                                </ul>
                                            </div>
                                   {{!--          <div class="blog-post-foot">
                                                <div class="blog-post-meta">
                                                    <i class="icon-calendar font-blue"></i>
                                                    <a href="javascript:;">Oct 24, 2015</a>
                                                </div>
                                                <div class="blog-post-meta">
                                                    <i class="icon-bubble font-blue"></i>
                                                    <a href="javascript:;">14 Comments</a>
                                                </div>
                                            </div> --}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                        <!-- END PAGE BASE CONTENT -->
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR CONTENT LAYOUT -->
        </div>
        <!-- BEGIN FOOTER -->
          {{> footer}}
        <!-- END FOOTER -->
    </div>
</div>
<!-- END CONTAINER -->