  <%
    if (typeof(article) === 'undefined'){
      article = {
        title: '',
        body: '',
        episode: ''
      }
    }
  %>

<!-- BEGIN CONTAINER -->
<div class="wrapper">
    <!-- BEGIN HEADER -->
    <%- partial('../../header', {}) %>
    <!-- END HEADER -->
    <div class="container-fluid">
        <div class="page-content">
            <!-- BEGIN BREADCRUMBS -->
            <div class="breadcrumbs">
                <h1>Markdown & WYSIWYG Editors</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li class="active">Components</li>
                </ol>
                <!-- Sidebar Toggle Button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- Sidebar Toggle Button -->
            </div>
            <!-- END BREADCRUMBS -->
            <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
            <div class="page-content-container">
                <div class="page-content-row">
                    <!-- BEGIN PAGE SIDEBAR -->
                        <%- partial('../../sidebar', {}) %>
                    <!-- END PAGE SIDEBAR -->
                    <div class="page-content-col">
                        <!-- BEGIN PAGE BASE CONTENT -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXTRAS PORTLET-->
                                <div class="portlet light form-fit bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-layers font-green"></i>
                                            <span class="caption-subject font-green bold uppercase">Summernote Editor</span>
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-cloud-upload"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-wrench"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </div>
                                    </div>




                                    <div class="portlet-body form">
                                        <form class="form-horizontal form-bordered" id="form_sample_3" action="<%= action %>" method="<%= method %>">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <input type="text" class="form-control" name="title" id="form_control_1" value='<%= article.title %>'>
                                                    <label for="form_control_1">Title</label>
                                                    <!-- <span class="help-block">Some help goes here...</span> -->
                                                </div>
 
                                            <div class="form-body">

                                                <div class="form-group last" sty>
                                              
                                                        <textarea name="body" id="summernote_1"> <%= article.body %></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                    <div class="input-group col-md-12">
                                                        <div class="input-group-control">
                                                            <input type="text" class="form-control" name="episode" value='<%= article.episode %>'>
                                                            <label for="form_control_1">Episode</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn green">
                                                            <i class="fa fa-check"></i> Submit</button>
                                                        <!-- <button type="button" class="btn default">Cancel</button> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <!-- END PAGE BASE CONTENT -->
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR CONTENT LAYOUT -->
        </div>
        <!-- BEGIN FOOTER -->
            <%- partial('../../footer', {}) %>
        <!-- END FOOTER -->
    </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN QUICK SIDEBAR -->
<%// partial('../../sidebar', {}) %>
